body {
    font: normal 14px Verdana;
}

#page {
    width: 100%;
}

table {
    border-spacing: 15px 2px;
}

th {
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5
}

.center_align_text {
    text-align: center;
}

.right_align_text {
    text-align: right;
}

#left_side {
    float:left;
    width: 45%;
}

.btn {
    border: 1px solid #DDDDE3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 8px 2px 8px;
    background: white;
    outline: none;
}

.btn:hover {
    border: 1px solid #DDDDE3;
    background: #3cb0fd;
}
